
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: Josefin Sans;
}

.main {
  background: url(../img/bg.jpg);
}
.main__container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
}
.main__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main__restart-button {
  margin-top: 50px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-size: 3rem;
  padding-top: 7.5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main__restart-button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main__win {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  color: #FFF;
  padding: 12px 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2.75rem;
  padding: 118.25px 0;
  text-align: center;
}
.main__win span {
  margin-bottom: 20px;
  display: none;
  font-size: 50px;
}
.main__win.active {
  display: block;
}
.main__win.active span {
  display: block;
}
.main__tie {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  color: #FFF;
  padding: 12px 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2.75rem;
}
.main__tie span {
  display: none;
  margin: 125px 35px;
}
.main__tie.active {
  display: block;
}
.main__tie.active span {
  display: block;
}

.buttons-wrapper {
  margin: 0 auto;
}

.button {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  display: block;
  font-size: 5rem;
}
.button__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 250px #000;
          box-shadow: 0 0 250px #000;
}

.button[value="1"] {
  border-top-left-radius: 10px;
  border-right: 5px solid #000;
  border-bottom: 5px solid #000;
}

.button[value="2"] {
  border-bottom: 5px solid #000;
}

.button[value="3"] {
  border-top-right-radius: 10px;
  border-left: 5px solid #000;
  border-bottom: 5px solid #000;
}

.button[value="4"] {
  border-right: 5px solid #000;
  border-bottom: 5px solid #000;
}

.button[value="5"] {
  border-bottom: 5px solid #000;
}

.button[value="6"] {
  border-bottom: 5px solid #000;
  border-left: 5px solid #000;
}

.button[value="7"] {
  border-right: 5px solid #000;
  border-bottom-left-radius: 10px;
}

.button[value="9"] {
  border-bottom-right-radius: 10px;
  border-left: 5px solid #000;
}